
* {
  box-sizing: border-box;
  
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
}

header{
  background-color: #40513B;
  color:#edf1d6;
  height: 30%;
  text-align: center;
}

#titleHome{
  position: relative;
  top:20%;
}


/* styling nav */
nav{
  float: left;
  width: 30%;
  background: #9DC08B;
  
}

nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0px;
}
nav ul li{
  display: block;
}

nav ul li a{
  text-decoration: none;
  color: black;
  display: block;
  padding: 20px;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

nav ul li a:hover{
  text-decoration: none;
  background-color: #2f3b2b;
  color:#edf1d6;
  opacity: .8;
  
}

section{
  margin-right: 0%;
  display: flex;
  height: 60%;
}

article {
  float: left;
  padding: 30px;
  background-color: #f1f1f1;
  display: block;
  width: 100%;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  height: 10%;

}